body {

    margin: 0;
    padding: 0;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;

}


.container1 {

    background-color: rgb(243, 142, 9);

}


.container2 {

    background-color: rgb(104, 60, 2);

}

.container3 {

    background-color: rgb(192, 149, 94);

}


.container4 {

    background-color: rgb(211, 232, 76);

}


.container5 {

    background-color: rgb(168, 136, 94);

}


.container6 {

    background-color: rgb(239, 179, 100);

}

