<!-- <div class="w-100 vh-100 d-flex align-items-center justify-content-center mb-4">
    <div class="p-4 card w-25">
        <h1>Reset Password</h1>
        <form action="#" method="post" class="d-flex flex-column mt-2">
            <div class="mb-3">
                <label class="form-label" for="password1">Enter New Password</label>
                <input class="form-control" type="password" name="password1" id="password1"required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password2">Confirm Password</label>
                <input class="form-control" type="password" name="password2" id="password2"required />
            </div>
            <input class="btn btn-primary mb-3" type="submit" value="Submit">
        </form>
    </div>
</div> -->

