<!-- <div class="w-100 min-vh-100 d-flex  align-items-center justify-content-center mb-4">
    <div class="card w-50 p-4">
        <h1>SignUp</h1>
        <form action="#" method="post" class="d-grid mt-2 form-group">

            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label" for="fname">Firstname</label>
                    <input class="form-control" type="text" name="fname" id="fname" required />
                </div>
                
                <div class="mb-3 col">
                    <label class="form-label" for="lname">Lastname</label>
                    <input class="form-control" type="text" name="lname" id="lname" required />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label " for="phone">Phone Number</label>
                <input class="form-control flex-grow-1" type="text" name="phone" id="phone" required />
            </div>

            <div class="mb-3">
                <label class="form-label " for="email">Email</label>
                <input class="form-control flex-grow-1" type="email" name="email" id="email" placeholder="name@example.com"
                    required />
            </div>

            <div class="row">
                <div class="mb-3 col">
                    <label class="form-label" for="password1">Password</label>
                    <input class="form-control flex-grow-1" type="password" name="password1" id="password1" required />
                </div>
                
                <div class="mb-3 col">
                    <label class="form-label" for="password2">Confirm Password</label>
                    <input class="form-control flex-grow-1" type="password" name="password2" id="password2" required />
                </div>
            </div>
            <input class="btn btn-primary mb-3" type="submit" value="Submit" />
        </form>
        <p>Already Have an Account? <a href="#">Login</a></p>
    </div>
</div> -->