<!-- <div [style.display]="display" class="position-absolute top-0 end-0 bottom-0 w-50  z-3 border-2 border-info-subtle">
    <div class="card w-50 h-50 mx-auto d-flex flex-column justify-content-between">
        <h1>{{product.productName}}</h1>
        <h1>{{product.productDesc}}</h1>
        <h1>{{product.productPrice | currency : 'INR'}}</h1>
        <h1>{{product.productCategory}}</h1>

        <button class="btn btn-primary" (click)="closePreview()">Close Preview</button>
    </div>
</div> -->
